{% extends "layout.html" %}

{% block content %}
  <div class="text-center ml-5 mr-5">
    <h1 class="mt-5">Attributions</h1>
    <h2 class="mt-3 mb-2">Images from:</h2>
    <ul style="list-style: none;">
      <li>Laurel wreath made by Freepik on <a href="https://flaticon.com">flaticon.com</a></li>
      <li>Trophy made by Freekpik on <a href="https://flaticon.com">flaticon.com</a></li>
      <li>Light bulb made by Karyative on <a href="https://flaticon.com">flaticon.com</a></li>
      <li>"Forge" favicon made by Freepik on <a href="https://flaticon.com">flaticon.com</a></li>
      <li>Easel from pngtree at <a href="https://pngtree.com">pngtree.com</a></li>
      <li>Open book background from <a href="https://wallpaperset.com">wallpaperset.com</a></li>
    </ul>
  </div>
{% endblock content %}
